[
{ lager
, [ {colored, true}
  , {handlers,
      [ { lager_console_backend
        , [ debug
          , { lager_default_formatter
            , [ color
              , time
              , " ["
              , {node, ""}
              , "] ["
              , severity
              , "] ["
              , {module, ""}
              , ":"
              , {function, ""}
              , ":"
              , {line, ""}
              , "] "
              , message
              , "\e[0m\n"
              ]}
          ]
        }
      ]}
  ]}
].
