[ { shoutout
  , [ {web_port, 12121}
    , {web_listeners, 1}
    , {web_max_conn, 1024}
    , {web_timeout, 12000}
    ]
  }
, { lager
  , [ {colored, true}
    , {handlers,
        [ { lager_console_backend
          , [ debug
            , { lager_default_formatter
              , [ color
                , time
                , " ["
                , {node, ""}
                , "] ["
                , severity
                , "] ["
                , {module, ""}
                , ":"
                , {function, ""}
                , ":"
                , {line, ""}
                , "] "
                , message
                , "\e[0m\n"
                ]}
            ]
          }
        ]}
    ]}
].
